body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-container{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 51px);
}
.form-horizontal {
  width: 45%;
}
.control-label {
  text-align: left;
}
